<!DOCTYPE html>
<html>
  <head>
    <title>Pinterested</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><%= link_to 'Home', root_path %></li>
            <li role="presentation"><%= link_to 'About Me', home_about_path %></li>

            <% if user_signed_in? %>
            <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <li role="presentation"><%= link_to "Profile", edit_user_registration_path %></li>
            <% else %>
              <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
              <li role="presentation"><%= link_to "Join", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted">Pinterested</h3>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-info") %>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <footer class="footer">
        <p>
          &copy; 2016 Bitto Renshu, Inc.
        </p>
      </footer>
    </div>
  </body>
</html>
